{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <a href="{{ url_for('add_item') }}" class="btn btn-success form-control col-sm-12 text-center">Add Item</a>
  </div>

  {% if items %}
      {% for category in items %}
  <h2>{{ category.description }}</h2>
  <table class="table table-striped table-light">
    <tr class="row">
      <th class="col-2 text-center">Quantity</th>
      <th class="col-4 text-center">Item</th>
      <th class="col-2 text-center">Unit Price</th>
      <th class="col-2 text-center">Amount</th>
      <th class="col-2 text-center">Action</th>
    </tr>
        {% for item in items[category] %}
    <tr class="row">
      <td class="col-2 text-center">{{ item.quantity }}</td>
      <td class="col-4 text-center">{{ item.name }}</td>
      <td class="col-2 text-center">{{ item.price}}</td>
      <td class="col-2 text-center">{{ item.quantity * item.price }}</td>
      <td class="col-2 text-center">
        <a href="{{ url_for('edit_item', id=item.id) }}">Edit</a>
      </td>
    </tr>
        {% endfor %}
  </table>
      {% endfor %}
  {% endif %}
</div>
{% endblock %}
